// .img{
//     width: 90px;
//     height: 90px;
// }
.listitem{
    transition: all .3s ease;
    &:hover{
        transform: scale(1.1);
    }
}

// ng-container{
//     &:td,th{
//         text-align: center;
//     }
// }
.example-container{
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: auto;}
