<div class="taps pt-5 w-100">
    <mat-tab-group animationDuration="200ms" class="mb-5" >
      
      
        <mat-tab label="{{'General Information'| translate}}">
          <mat-card class="example-card w-75 m-auto shadow p-5 m-5">
            <mat-card-header class="d-block">
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Name:</mat-card-title>
                <mat-card-subtitle>
                  <span>{{showDetails.fNameinE}} {{" "}}</span>
                  <span>{{showDetails.mNameinE}}</span>
                </mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Jop Title:</mat-card-title>
                <mat-card-subtitle>{{showDetails.jobTitle}}</mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Date Of Birth:</mat-card-title>
                <mat-card-subtitle>{{showDetails.dateOfBirth?.toDate() | date  }}</mat-card-subtitle>
              </div>
            </mat-card-header>
             
          </mat-card>
        </mat-tab>
      
      <div class="container">
        <mat-tab label="{{'Employment Data & HR File Documentation'| translate}}" >
          <mat-card class="example-card w-75 m-auto shadow p-5 m-5">
            <mat-card-header class="d-block">
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2"> Salary Payment Method:</mat-card-title>
                <mat-card-subtitle>
                  <span>{{showDetails.paymentMethod}} </span>
                </mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Date Of Appointment:</mat-card-title>
                <mat-card-subtitle>{{showDetails.dataOfAppointment?.toDate()  | date}}</mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Data Of Joining:</mat-card-title>
                <mat-card-subtitle >{{showDetails.dataOfJoining?.toDate() | date }}</mat-card-subtitle>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-tab>
      </div>
      <div class="container">
        <mat-tab label="{{'Address & Contact Information'| translate}}">
          <mat-label></mat-label>
          <mat-card class="example-card w-75 m-auto shadow p-5 m-5">
            <mat-card-header class="d-block">
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">local Address:</mat-card-title>
                <mat-card-subtitle>
                  <span>{{showDetails.localAddress}} </span>
                </mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Work Phone:</mat-card-title>
                <mat-card-subtitle>{{showDetails.workPhone}}</mat-card-subtitle>
              </div>
              <div class="d-flex align-items-baseline ">
                <mat-card-title class="me-2">Country:</mat-card-title>
                <mat-card-subtitle>{{showDetails.country }}</mat-card-subtitle>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-tab>

      </div>
      

      
  </mat-tab-group>
  </div>


  