
.upload-img{
    
    width: 120px;
    height: 120px;
}
button {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .dropdown-toggle::after{
    margin:  auto 15px ;
  
  }