<section class="pt-3">
    <div class="container">
        <form>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="" class="d-block"> Staff No</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Type</label>
                    <select class="p-1 w-100" aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Access Card Number</label>
                    <input type="text" class="w-100">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Branch</label>
                    <select class="p-1 w-100" aria-label="Default select example">
                        <option selected>Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="" class="d-block"> First Name In Arabic</label>
                    <input type="text" class="w-100 ">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Middle Name In Arabic</label>
                    <input type="text" class=" w-100">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Befor Last Name In Arabic</label>
                    <input type="text" class="w-100 ">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Last Name In Arabic</label>
                    <input type="text" class=" w-100">
                </div>
                
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="" class="d-block"> First Name In English</label>
                    <input type="text" class="w-100 ">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Middle Name In English</label>
                    <input type="text" class="w-100 ">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Before Last Name In English</label>
                    <input type="text" class=" w-100">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block"> Last Name In English</label>
                    <input type="text" class="w-100 ">
                </div>
                
            </div>

            <!-- checkbox&radio -->
            <div class="row my-3">
                <div class="col-md-3 mt-2">
                    <input class="text-start" type="checkbox" value="" id="">
                    <label class="ms-2" for="">
                        Research
                    </label>
                </div>
                <div class="col-md-3 mt-2">
                    <input class="text-start" type="checkbox" value="" id="" >
                    <label class="ms-2" for="">
                        People Of Determination "POD"
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label for="flexRadioDefault" class="ms-2"> Admin Staff</label>
                        </div>
                        <div class="col-md-6">
                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label for="flexRadioDefault" class="ms-2"> Clincal Staff</label>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="" class="d-block">Gender</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Date Of Birth</label>
                    <input type="date" class="w-100 ">
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block"> Place Of Birth</label>
                    <input type="text" class=" w-100">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="" class="d-block">Union</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Department</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Departmenr/Devision</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="" class="d-block">Shift Time</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Religion</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Phone</label>
                    <input type="text" class=" w-100">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="" class="d-block">Material Status</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Job Title</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Job Degree</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="" class="d-block">Indentification Type</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>National ID</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">National ID</label>
                    <input type="text" class=" w-100">
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">National ID End Date</label>
                    <input type="date" class="w-100 ">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="" class="d-block">Nationality</label>
                    <select class="p-1 w-100 " aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label for="" class="d-block"> Attendence Machine Code</label>
                    <input type="text" class=" w-100">
                </div>
            </div>

            <!-- img -->

            <!-- input with button -->

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="img d-flex align-items-center mb-3">
                        <span>Signatur</span>
                        <div class="upload-img border border-1 ms-2">
                            <img src="" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="upload">
                        <input type="text">
                        <input type="file">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img d-flex align-items-center mb-3">
                        <span>Employee</span>
                        <div class="upload-img border border-1 ms-2">
                            <img src="" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="upload">
                        <input type="text">
                        <input type="file">
                    </div>
                </div>
            </div>



            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="" class="d-block"> Personal Email Address </label>
                    <input type="text" class=" w-100">
                </div>
                <div class="col-md-5">
                    <label for="" class="d-block"> Official Email Address </label>
                    <input type="text" class=" w-100">
                </div>
            </div>
        </form>
    </div>
</section>
