<section class="pt-3">
    <div class="container">
        <form>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="" class="d-block">Country</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Governerotes</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">City</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">District</label>
                    <input type="text" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Emergency Contact</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Relation</label>
                    <select class="p-1 w-100" aria-label="Default select example">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="" class="d-block">Local Address</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Local Address 2</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Local Address 3</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Local Address 4</label>
                    <input type="text" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="" class="d-block">Premanent Address</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Premanent Address 2</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Premanent Address 3</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-3">
                    <label for="" class="d-block">Premanent Address 4</label>
                    <input type="text" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Work Phone</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Place Issuing Identity</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Passport Number</label>
                    <input type="text" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="" class="d-block">Passport Expiration Date</label>
                    <input type="date" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Driving License Number</label>
                    <input type="number" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Date Of issuance Of License</label>
                    <input type="date" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">License Expiration Date</label>
                    <input type="date" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Syndicate Card</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Work Permit</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Expiration Date of Work Permit</label>
                    <input type="date" class="w-100" required>
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Blood Type</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Insurence Date</label>
                    <input type="date" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Insurence Value</label>
                    <input type="text" class="w-100" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="d-block">Insurence job Title</label>
                    <input type="text" class="w-100" required>
                </div>
                <div class="col-md-4">
                    <label for="" class="d-block">Insurence Number</label>
                    <input type="number" class="w-100" required>
                </div>
                
            </div>
        </form>
    </div>
</section>