<section class="pt-3">
    <div class="container">
        <form>
            <div class="row mb-3">
                
                <div class="col-md-3">
                    <label for=""  >Country</label>
                    <select class="p-1 w-100" aria-label="Default select example" class="form-select">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for=""  >Governorates</label>
                    <select class="p-1 w-100" aria-label="Default select example" class="form-select">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for=""  >City</label>
                    <select class="p-1 w-100" aria-label="Default select example" class="form-select">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for=""  >District</label>
                    <select class="p-1 w-100" aria-label="Default select example" class="form-select">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" >Emergency Contact</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Relation</label>
                    <select class="p-1 w-100" aria-label="Default select example" class="form-select">
                        <option selected>Please Chose Item</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for=""  >Local Address</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Local Address 2</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Local Address 3</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Local Address 4</label>
                    <input type="text"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for=""  >Premanent Address</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Premanent Address 2</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Premanent Address 3</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-3">
                    <label for=""  >Premanent Address 4</label>
                    <input type="text"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for=""  >Work Phone</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Place Issuing Identity</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Passport Number</label>
                    <input type="text"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for=""  >Passport Expiration Date</label>
                    <input type="date"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for=""  >Driving License Number</label>
                    <input type="number"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Date Of issuance Of License</label>
                    <input type="date"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >License Expiration Date</label>
                    <input type="date"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for=""  >Syndicate Card</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Work Permit</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Expiration Date of Work Permit</label>
                    <input type="date"  class="form-control"  >
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for=""  >Blood Type</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Insurence Date</label>
                    <input type="date"  class="form-control" value=" ">
                </div>
                <div class="col-md-4">
                    <label for=""  >Insurence Value</label>
                    <input type="text"  class="form-control"  >
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for=""  >Insurence job Title</label>
                    <input type="text"  class="form-control"  >
                </div>
                <div class="col-md-4">
                    <label for=""  >Insurence Number</label>
                    <input type="number"  class="form-control"  >
                </div>
                
            </div>
        </form>
    </div>
</section>