


.table{
  width: 100%;
  max-width: 100%;
  overflow: auto;
  // border: 1px solid #003cb3;
}



  
  table tr{
      background-color: #003cb3 !important;
      color: #fff !important;
      // padding: 10px !important;
      text-align: center;
    
  }
  
  table td,
  table tr,
  table th{
    border: 1px solid #003cb3 !important;
  }
  
  table button{
      font-size: 12px;

  }

  


button {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .dropdown-toggle::after{
    margin:  auto 15px ;
  
  }